.content {
  display: flex;
  flex-wrap: wrap;
}
.cover,
.cons {
  padding: 10px;
}


.item {
  flex: 1 0 calc(50% - 10px); /* 50% width, minus margin */
  margin: 5px;
  display: flex;
  gap: 5px;
}

/* Media query for screen widths <= 768px */
@media screen and (max-width: 768px) {
  .item {
    flex-basis: 100%;
  }
}
