.cover > h3,
.cover > div > h3,
.cons > h3 {
  margin-top: 15px;
}
.cover,
.cons {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 10px;
}
.form > label {
  display: flex;
  gap: 20px;
}

.invert {
  display: flex;
  gap: 10px;
}
.form > label > h5 {
  max-width: 180px;
}
.invert > label,
.input > label {
  display: flex;
  flex-direction: column-reverse;
}
.input > label > input {
  width: 100%;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.checkbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkbox > label {
  display: flex;
  gap: 10px;
}
